@import "tailwindcss";

@theme {
  --color-navy-50: #eef2f8;
  --color-navy-100: #d9e2ef;
  --color-navy-500: #003366;
  --color-navy-600: #002952;
  --color-navy-700: #001f3d;
  --color-navy-800: #001429;

  --color-crimson-400: #ff4d4d;
  --color-crimson-500: #CC0000;
  --color-crimson-600: #a30000;
  --color-crimson-700: #7a0000;

  --font-sans: 'Inter', system-ui, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: #F8FAFE; /* Fondo principal de SGA Design */
}
